* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

#add-book-form {
  display: grid;
  margin: 0.5rem;
  background-color: #b7b0bf;
}

.hidden-form {
  visibility: hidden;
}

input, label {
  visibility: inherit;
}

.book-card {
  background-color: #d0d0dd;
  margin: 0.5rem;
}